# Görev1

In [4]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [6]:
['NUM_' + col.upper()  if df[col].dtype != 'O' else col.upper() for col in df.columns]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

# Görev 2

In [10]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [14]:
[col.upper() + "_FLAG"  if 'no' not in col else col.upper()  for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

# Görev 3

In [22]:
import pandas as pd 
df = sns.load_dataset('car_crashes')
og_list = ['abbrev', 'no_previous']
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [23]:
new_cols = [col for col in df.columns if col not in og_list]
new_cols

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

In [27]:
new_df = pd.DataFrame(data = df[new_cols], columns = new_cols)
new_df.head(10)

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63
5   13.6     5.032    3.808          10.744       835.50      139.91
6   10.8     4.968    3.888           9.396      1068.73      167.02
7   16.2     6.156    4.860          14.094      1137.87      151.48
8    5.9     2.006    1.593           5.900      1273.89      136.05
9   17.9     3.759    5.191          16.468      1160.13      144.18