# Görev 4

In [18]:
dict = {'Cristian': ["America", 18],
       'Daisy': ["England",12],
        'Antonio': ["Spain",22],
       'Dante': ["Italy",22]
       }


dict.keys()

dict_keys(['Cristian', 'Daisy', 'Antonio', 'Dante'])

In [19]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 22]])

In [20]:
dict["Daisy"][1] = 13
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 22]}

In [21]:
dict["Ahmet"] = ["Turkey",24]
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 22],
 'Ahmet': ['Turkey', 24]}

In [22]:
dict.pop("Antonio")
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 22],
 'Ahmet': ['Turkey', 24]}

# Görev 5 
Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bulisteleri return eden fonksiyon yazınız.

In [36]:
l = [2,13,18,93,22]
tek = []
cift = []

def fonk(l):
    for eleman in l:
        if eleman % 2 == 0:
            cift.append(eleman)
        else:
            tek.append(eleman)
    print(tek)
    print(cift)

In [37]:
fonk(l)

[13, 93]
[2, 18, 22]

# Görev 6
 Aşağıda verilen listede mühendislik ve tıp fakültelerinde
dereceye giren öğrencilerin isimleri bulunmaktadır.
 Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken
 son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
 Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [1]:

ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

for i, ogrenci in enumerate(ogrenciler):
    if i<3:
        i += 1
        print("Mühendislik Fakültesi",i," . öğrenci:", ogrenci)
    else:
        i += 2
        print("Tıp Fakültesi",i, ". öğrenci:", ogrenci)

Mühendislik Fakültesi 1  . öğrenci: Ali
Mühendislik Fakültesi 2  . öğrenci: Veli
Mühendislik Fakültesi 3  . öğrenci: Ayşe
Tıp Fakültesi 5 . öğrenci: Talat
Tıp Fakültesi 6 . öğrenci: Zeynep
Tıp Fakültesi 7 . öğrenci: Ece

# Görev 7
Aşağıda 3 adet liste verilmiştir. Listeler desırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [41]:
ders = ["a", "b", "c", "d"]
kredi = [3, 4, 2, 4]
kontenjan = [35, 34, 26, 86]

ders_bilgileri = zip(ders, kredi, kontenjan)

for bilgi in ders_bilgileri:
    print("Kredisi {}, kontenjanı {} olan ders {}dır.".format(bilgi[1], bilgi[2], bilgi[0]))

Kredisi 3, kontenjanı 35 olan ders adır.
Kredisi 4, kontenjanı 34 olan ders bdır.
Kredisi 2, kontenjanı 26 olan ders cdır.
Kredisi 4, kontenjanı 86 olan ders ddır.

# Görev 8
Aşağıda2 adetset verilmiştir. Sizdenistenileneğer1. küme2. kümeyikapsiyoriseortakelemanlarınıeğerkapsamıyorise2. kümenin1. kümedenfarkınıyazdıracakfonksiyonutanımlamanızbeklenmektedir

In [49]:
küme1 = set(["data","python"])
küme2 = set(["data","function","qcut","lambda","python","miuul"])

def fonk1(k1,k2):
    if k1.issuperset(k2):
        return k1.intersection(k2)
    else:
        return k2.difference(k1)

fonk1(küme1,küme2)

{'function', 'lambda', 'miuul', 'qcut'}